*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    color: white;
}
body{
    background-color: #5D001E;
}

.nav{
    border: 1px;
    width: 100px;
    height: 100px;
    background-color: #9A1750;
}
.header{
    background-color: #9A1750;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.curve{
    border-radius: 76px;
    animation: rotate 10s ease-in-out infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
li{
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
}
figcaption{
    padding: 4px;
    font-size: 1.5em;
}
figcaption div{
    margin: 0px;
    padding: 10px 0px 0px 0px;
}
a{
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    color: #E3AFBC;
}
figcaption:hover{
    font-weight: bold;
}
.active{
    color: #E3AFBC;
}
.project{
    margin: auto;
    width: 50%;
    height: 50%;
    border: 2px solid;
    border-radius: 25px;
    margin: 60px;
}